* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#app, body, html {
    height: 100%;
    width: 100%;
}

#app{
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
h1 {
    margin: 0;
}