* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#app, body, html {
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;
}

h1 {
    margin: 0;
}

/* App */

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.App-content {
    flex-flow: column;
    border: 1px solid green;
}

.App-content-search {
    border: 1px solid red;
}

.App-content-gallery {
    border: 1px solid blue;
}

/* Suggestions */

.Suggestions-container {
    width: 300px;
}

.Suggestions-options {
    margin-top: 20px;
    text-align: center;
}

.Suggestions-options>button {
    opacity: .66;
    margin: 5px;
}

.Suggestions-options>button:hover {
    opacity: 1;
}

/* Gallery */

.Gallery-container {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 600px;
}

.my-gallery-class{
    width: 33%;
    height: auto;
}

/* Image */
.image-element-class{
    width: 30%;
}

.Gallery-container{
    width: 100%;
}

img {
    margin: 1em;
}